/* so the window resize fires within a frame in IE7 */
p {
    margin: 0px;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern" 1;
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    font-kerning: normal;
}


/* to match IE with C, FF */
input {
    padding: 1px 0px 1px 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}



///-----------------------------------------

.mousechange:hover {
  cursor: pointer;
}

hr {
    border-bottom-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #127cb1;
    border-right-color: #127cb1;
    border-bottom-color: #127cb1;
    border-left-color: #127cb1;
    background-color: #127cb1;
}
//--------------------------

#base {
  position:absolute;
  z-index:0;
}

#u0 {
  position:fixed;
  left:50%;
  margin-left:-320px;
  bottom:0px;
  width:640px;
  height:26px;
  overflow:hidden;
}

#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:550px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#1E1E1E;
  text-align:center;
  line-height:13px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u2 {
  position:fixed;
  left:50%;
  margin-left:-180px;
  top:50%;
  margin-top:-307.5px;
  width:360px;
  height:615px;
  overflow:hidden;
}
#u2_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:360px;
  height:580px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:244px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:318px;
  width:360px;
  height:244px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 207, 181, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#737373;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:320px;
  width:262px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#737373;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 207, 181, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:372px;
  width:262px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:326px;
  width:24px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:378px;
  width:24px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:268px;
  height:62px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:478px;
  width:262px;
  height:56px;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}

#u9_img:hover {
	cursor: pointer;
}
#u9:hover {
	cursor: pointer;
}
#u9_img.mouseDown {
	cursor: auto;
}
#u9.mouseDown {
	cursor: auto;
}

#u9_text {
  border-width:0px;
  position:absolute;
  left:100px;
  top:17px;
  width:258px;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Muli Regular', 'Muli';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:underline;
  color:#737373;
  text-align:center;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:531px;
  width:262px;
  height:19px;
  font-family:'Muli Regular', 'Muli';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:underline;
  color:#737373;
  text-align:center;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:140px;
  width:120px;
  height:120px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;  
}
#u12 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:18px;
  width:323px;
  height:75px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:322px;
  width:214px;
  height:31px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:31px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:374px;
  width:215px;
  height:31px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:31px;
  background-color:white !important;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:white !important;
  outline-style:none;
  border: 0px;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:102px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:100px;
  width:323px;
  height:92px;
  font-family: 'Calibri Bold', 'Calibri Regular', 'Calibri';
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    color: #014C98;
    text-align: center;
    line-height: 11px;
  text-align:center;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:323px;
  word-wrap:break-word;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:56px;
  background:inherit;
  background-color:rgba(237, 28, 36, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow:1px 2px 3px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:470px;
  width:262px;
  height:56px;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u17_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:56px;
  background:inherit;
  background-color:rgba(12, 142, 54, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow:1px 2px 3px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u17.mouseDown {
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:258px;
  word-wrap:break-word;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 28, 36, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Muli Regular', 'Muli';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:370px;
  width:262px;
  height:36px;
  font-family:'Muli Regular', 'Muli';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:376px;
  width:215px;
  height:24px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:24px;
  background-color:transparent;
  font-family:'Muli Regular', 'Muli';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Muli Regular', 'Muli';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:285px;
  width:262px;
  height:57px;
  font-family:'Muli Regular', 'Muli';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#ED1C24;
  line-height:34px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:40px;
  width:247px;
  height:110px;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#ED1C24;
  line-height:34px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:247px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:14px;
  width:24px;
  height:24px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 0.447058823529412);
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  position:fixed;
  left:50%;
  margin-left:-240px;
  bottom:0px;
  width:480px;
  height:26px;
  overflow:hidden;
}
#u1.a {
  width:480px;
}
#u1_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#1E1E1E;
  text-align:center;
  line-height:13px;
}

#u1.a {
  width:480px;
}
#u1_text.a {
  width:480px;
}
#u0_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2.a {
  position:fixed;
  left:50%;
  margin-left:-180px;
  top:50%;
  margin-top:-307.5px;
  width:360px;
  height:615px;
  overflow:hidden;
}
#u3.a {
}
#u3_img.a {
}
#u3.a {
}
#u5.a {
}
#u5_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#737373;
}
#u5.a {
}
#u6.a {
}
#u6_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6.a {
}
#u7.a {
}
#u7_img.a {
}
#u7.a {
}
#u8.a {
}
#u8_img.a {
}
#u8.a {
}
#u9.a {
}
#u9_img.a {
}
#u9.a {
}
#u9_img.a.mouseDown {
}
#u9.a.mouseDown {
}
#u9_text.a {
}
#u10.a {
}
#u10_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Muli Regular', 'Muli';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:underline;
  color:#737373;
  text-align:center;
}
#u10.a {
}
#u10_text.a {
}
#u11.a {
}
#u11_img.a {
}
#u11.a {
}
#u12.a {
}
#u12_img.a {
}
#u12.a {
}
#u13.a {
  border-width:0px;
  position:absolute;
  left:63px;
  top:357px;
  width:215px;
  height:24px;
}
#u13_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:24px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u14.a {
  border-width:0px;
  position:absolute;
  left:63px;
  top:411px;
  width:215px;
  height:24px;
}
#u14_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:24px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u15.a {
  top:192px;
}
#u15_img.a {
}
#u15.a {
  top:192px;
}
#u15_text.a {
}
#u17.a {
}
#u17_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:56px;
  background:inherit;
  background-color:rgba(237, 28, 36, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow:1px 2px 3px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u17.a {
}
#u17_div.mouseDown.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:56px;
  background:inherit;
  background-color:rgba(12, 142, 54, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow:1px 2px 3px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u17.a.mouseDown {
}
#u17_text.a {
}
#u18.a {
}
#u18_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 28, 36, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Muli Regular', 'Muli';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u18.a {
}
#u19.a {
  border-width:0px;
  position:absolute;
  left:63px;
  top:376px;
  width:215px;
  height:24px;
}
#u19_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:24px;
  background-color:transparent;
  font-family:'Muli Regular', 'Muli';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20.a {
}
#u20_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Muli Regular', 'Muli';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u20.a {
}
#u20_text.a {
}
#u21.a {
}
#u21_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#ED1C24;
  line-height:34px;
}
#u21.a {
}
#u21_text.a {
}
#u22.a {
}
#u22_img.a {
}
#u22.a {
}
#u2_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#ub1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(20, 54, 154, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}

#ub5_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 359px;
    height: 110px;
    background: inherit;
//    background-color: rgba(237, 28, 36, 1);
    border: none;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negrita', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #ED3237;
    text-align: center;
}

#ub5_hr {
    position:relative;
	color: #127cb1 !important;
	top: 105px;
	bottom: 2px;
}

#u24_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 34px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negrita', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    color: #AEAEAE;
    text-align: right;
    line-height: 11px;
}
#u24_text {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 2px;
    width: 34px;
    word-wrap: break-word;
}
#u24 {
    border-width: 0px;
    position: absolute;
    left: 295px;
    top: 240px;
    width: 34px;
    height: 16px;
    font-family: 'Arial Negrita', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    color: #AEAEAE;
    text-align: right;
    line-height: 11px;
}

#u6_1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6_1 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:422px;
  width:262px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
   
}
#u6_1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_1 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:421px;
  width:167px;
  height:31px;
}
#u13_1_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:31px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8_1_img {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:66px;
  height:31px;
}
#u8_1 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:425px;
  width:70px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  background-color: #ff2731;
  /* top-left top-right bottom-right bottom-left */
  border-radius: 5px 5px 5px 5px;
}
#u8_1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Muli Regular', 'Muli';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:underline;
  color:#737373;
  text-align:center;
}
#u10_1 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:465px;
  width:262px;
  height:19px;
  font-family:'Muli Regular', 'Muli';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:underline;
  color:#737373;
  text-align:center;
}
#u10_1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}

#u2_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:615px;
  background-image:url('../../resources/imagen/unadecadacorta.png') !important;
  background-repeat: no-repeat;
  background-position: 0px 80px;
}